# Part C

In [2]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics

In [3]:
data = pd.read_csv('state_wise_daily.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    360 non-null    object
 1   Status  360 non-null    object
 2   TT      360 non-null    int64
 3   AN      360 non-null    int64
 4   AP      360 non-null    int64
 5   AR      360 non-null    int64
 6   AS      360 non-null    int64
 7   BR      360 non-null    int64
 8   CH      360 non-null    int64
 9   CT      360 non-null    int64
 10  DN      360 non-null    int64
 11  DD      360 non-null    int64
 12  DL      360 non-null    int64
 13  GA      360 non-null    int64
 14  GJ      360 non-null    int64
 15  HR      360 non-null    int64
 16  HP      360 non-null    int64
 17  JK      360 non-null    int64
 18  JH      360 non-null    int64
 19  KA      360 non-null    int64
 20  KL      360 non-null    int64
 21  LA      360 non-null    int64
 22  LD      360 non-null    int64
 23  MP      360 non-null    int64
 24  MH      360 non-null    int64
 25  MN      360 non-null    int64
 26  ML      360 non-null    int64
 27  MZ      360 non-null    int64
 28  NL      360 non-null    int64
 29  OR      360 non-null    int64
 30  PY      360 non-null    int64
 31  PB      360 non-null    int64
 32  RJ      360 non-null    int64
 33  SK      360 non-null    int64
 34  TN      360 non-null    int64
 35  TG      360 non-null    int64
 36  TR      360 non-null    int64
 37  UP      360 non-null    int64
 38  UT      360 non-null    int64
 39  WB      360 non-null    int64
 40  UN      360 non-null    int64
dtypes: int64(39), object(2)
memory usage: 115.4+ KB

In [4]:
data.head(4)

,Date,Status,TT,AN,AP,AR,AS,BR,CH,CT,...,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
0,14-Mar-20,Confirmed,81,0,1,0,0,0,0,0,...,1,3,0,1,1,0,12,0,0,0
1,14-Mar-20,Recovered,9,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,0,0,0
2,14-Mar-20,Deceased,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15-Mar-20,Confirmed,27,0,0,0,0,0,0,0,...,0,1,0,0,2,0,1,0,0,0

In [5]:
data['Status'].unique()

array(['Confirmed', 'Recovered', 'Deceased'], dtype=object)

In [7]:
data['Status'] = data['Status'].replace("Confirmed", "0")
data['Status'] = data['Status'].replace("Recovered", "1")
data['Status'] = data['Status'].replace("Deceased", "2")

In [8]:
data.head(4)

,Date,Status,TT,AN,AP,AR,AS,BR,CH,CT,...,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
0,14-Mar-20,0,81,0,1,0,0,0,0,0,...,1,3,0,1,1,0,12,0,0,0
1,14-Mar-20,1,9,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,0,0,0
2,14-Mar-20,2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15-Mar-20,0,27,0,0,0,0,0,0,0,...,0,1,0,0,2,0,1,0,0,0

In [9]:
data.drop(columns=['Date'],inplace=True)  #separting indepedent & dependent columns 
data.columns

Index(['Status', 'TT', 'AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DN', 'DD',
       'DL', 'GA', 'GJ', 'HR', 'HP', 'JK', 'JH', 'KA', 'KL', 'LA', 'LD', 'MP',
       'MH', 'MN', 'ML', 'MZ', 'NL', 'OR', 'PY', 'PB', 'RJ', 'SK', 'TN', 'TG',
       'TR', 'UP', 'UT', 'WB', 'UN'],
      dtype='object')

In [20]:
x = data[['TT', 'AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DN', 'DD',
       'DL', 'GA', 'GJ', 'HR', 'HP', 'JK', 'JH', 'KA', 'KL', 'LA', 'LD', 'MP',
       'MH', 'MN', 'ML', 'MZ', 'NL', 'OR', 'PY', 'PB', 'RJ', 'SK', 'TN', 'TG',
       'TR', 'UP', 'UT', 'WB', 'UN']] .values  
x[0:10]

array([[81,  0,  1,  0,  0,  0,  0,  0,  0,  0,  7,  0,  0, 14,  0,  2,
         0,  6, 19,  0,  0,  0, 14,  0,  0,  0,  0,  0,  0,  1,  3,  0,
         1,  1,  0, 12,  0,  0,  0],
       [ 9,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,
         0,  0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,
         0,  0,  0,  4,  0,  0,  0],
       [ 2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,
         0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0],
       [27,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  5,  0,  0,  0, 18,  0,  0,  0,  0,  0,  0,  0,  1,  0,
         0,  2,  0,  1,  0,  0,  0],
       [ 4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,
         0,  1,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0],
       [15,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,
         0,  1,  3,  0,  0,  0,  6,  0,  0,  0,  0,  1,  1,  0,  0,  0,
         0,  1,  0,  0,  1,  0,  0],
       [ 1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         1,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0],
       [11,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  0,
         0,  2,  0,  0,  0,  0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  1,  0,  2,  0,  1,  0]], dtype=int64)

In [21]:
y = data['Status'].values
y[0:10]

array(['0', '1', '2', '0', '1', '2', '0', '1', '2', '0'], dtype=object)

In [22]:
x = preprocessing.StandardScaler().fit(x).transform(x.astype(float))
x[0:10]  #standardization of data

array([[-0.62332709, -0.32303937, -0.4386345 , -0.30973849, -0.446348  ,
        -0.58082109, -0.3943513 , -0.52017994, -0.34019096,  0.        ,
        -0.53991734, -0.4223854 , -0.84290255, -0.47628796, -0.56584543,
        -0.56989762, -0.50015049, -0.37202995, -0.2066359 , -0.28043389,
         0.        , -0.85815848, -0.63279235, -0.38864151, -0.1497335 ,
        -0.21995801, -0.33395707, -0.51704977, -0.38952253, -0.45565176,
        -0.77854272, -0.18765242, -0.57020969, -0.39757488, -0.40825222,
        -0.59223085, -0.50903213, -0.5980912 , -0.04798096],
       [-0.63503466, -0.32303937, -0.44243247, -0.30973849, -0.446348  ,
        -0.58082109, -0.3943513 , -0.52017994, -0.34019096,  0.        ,
        -0.5457652 , -0.4223854 , -0.84290255, -0.55314795, -0.56584543,
        -0.59637028, -0.50015049, -0.38829982, -0.46583077, -0.28043389,
         0.        , -0.85815848, -0.64099817, -0.38864151, -0.1497335 ,
        -0.21995801, -0.33395707, -0.51704977, -0.38952253, -0.46881454,
        -0.79220136, -0.18765242, -0.5711357 , -0.4002103 , -0.40825222,
        -0.62359924, -0.50903213, -0.5980912 , -0.04798096],
       [-0.63617289, -0.32303937, -0.44243247, -0.30973849, -0.446348  ,
        -0.58082109, -0.3943513 , -0.52017994, -0.34019096,  0.        ,
        -0.5457652 , -0.4223854 , -0.84290255, -0.55314795, -0.56584543,
        -0.59637028, -0.50015049, -0.38558817, -0.5144298 , -0.28043389,
         0.        , -0.85815848, -0.64099817, -0.38864151, -0.1497335 ,
        -0.21995801, -0.33395707, -0.51704977, -0.38952253, -0.46881454,
        -0.79903068, -0.18765242, -0.5711357 , -0.4002103 , -0.40825222,
        -0.63928344, -0.50903213, -0.5980912 , -0.04798096],
       [-0.63210777, -0.32303937, -0.44243247, -0.30973849, -0.446348  ,
        -0.58082109, -0.3943513 , -0.52017994, -0.34019096,  0.        ,
        -0.54673985, -0.4223854 , -0.84290255, -0.55314795, -0.56584543,
        -0.59637028, -0.50015049, -0.38829982, -0.43343141, -0.28043389,
         0.        , -0.85815848, -0.63044783, -0.38864151, -0.1497335 ,
        -0.21995801, -0.33395707, -0.51704977, -0.38952253, -0.46881454,
        -0.79220136, -0.18765242, -0.5711357 , -0.39493946, -0.40825222,
        -0.63536239, -0.50903213, -0.5980912 , -0.04798096],
       [-0.63584768, -0.32303937, -0.44243247, -0.30973849, -0.446348  ,
        -0.58082109, -0.3943513 , -0.52017994, -0.34019096,  0.        ,
        -0.5457652 , -0.4223854 , -0.84290255, -0.55314795, -0.56584543,
        -0.59637028, -0.50015049, -0.38829982, -0.5144298 , -0.28043389,
         0.        , -0.85815848, -0.64099817, -0.38864151, -0.1497335 ,
        -0.21995801, -0.33395707, -0.51704977, -0.38952253, -0.46881454,
        -0.78537204, -0.18765242, -0.5711357 , -0.39757488, -0.40825222,
        -0.63928344, -0.50903213, -0.5980912 , -0.04798096],
       [-0.6364981 , -0.32303937, -0.44243247, -0.30973849, -0.446348  ,
        -0.58082109, -0.3943513 , -0.52017994, -0.34019096,  0.        ,
        -0.54673985, -0.4223854 , -0.84290255, -0.55314795, -0.56584543,
        -0.59637028, -0.50015049, -0.38829982, -0.5144298 , -0.28043389,
         0.        , -0.85815848, -0.64099817, -0.38864151, -0.1497335 ,
        -0.21995801, -0.33395707, -0.51704977, -0.38952253, -0.46881454,
        -0.79903068, -0.18765242, -0.5711357 , -0.4002103 , -0.40825222,
        -0.63928344, -0.50903213, -0.5980912 , -0.04798096],
       [-0.63405903, -0.32303937, -0.44243247, -0.30973849, -0.446348  ,
        -0.58082109, -0.3943513 , -0.52017994, -0.34019096,  0.        ,
        -0.54673985, -0.4223854 , -0.84290255, -0.55314795, -0.56584543,
        -0.58313395, -0.50015049, -0.38558817, -0.46583077, -0.28043389,
         0.        , -0.85815848, -0.63748139, -0.38864151, -0.1497335 ,
        -0.21995801, -0.33395707, -0.50817126, -0.32098484, -0.46881454,
        -0.79903068, -0.18765242, -0.5711357 , -0.39757488, -0.40825222,
        -0.63928344, -0.47938457, -0.5980912 , -0.04798096],
       [-0.6363355 , -0.32303937, -0.44243247, -0.30973849, -0.446348  ,
        -0.58082109, -0.3943513 , -0.52017994, -0.34019096,  0.        ,
        -0.54673985, -0.4223854 , -0.84290255, -0.55314795, -0.56584543,
        -0.59637028, -0.50015049, -0.38829982, -0.5144298 , -0.28043389,
         0.        , -0.85815848, -0.64099817, -0.38864151, -0.1497335 ,
        -0.21995801, -0.33395707, -0.51704977, -0.38952253, -0.46881454,
        -0.79903068, -0.18765242, -0.57020969, -0.4002103 , -0.40825222,
        -0.63928344, -0.50903213, -0.5980912 , -0.04798096],
       [-0.6364981 , -0.32303937, -0.44243247, -0.30973849, -0.446348  ,
        -0.58082109, -0.3943513 , -0.52017994, -0.34019096,  0.        ,
        -0.54673985, -0.4223854 , -0.84290255, -0.55314795, -0.56584543,
        -0.59637028, -0.50015049, -0.38829982, -0.5144298 , -0.28043389,
         0.        , -0.85815848, -0.64099817, -0.38864151, -0.1497335 ,
        -0.21995801, -0.33395707, -0.51704977, -0.38952253, -0.46881454,
        -0.79903068, -0.18765242, -0.5711357 , -0.4002103 , -0.40825222,
        -0.63928344, -0.50903213, -0.5980912 , -0.04798096],
       [-0.63470945, -0.32303937, -0.44243247, -0.30973849, -0.446348  ,
        -0.58082109, -0.3943513 , -0.52017994, -0.34019096,  0.        ,
        -0.5457652 , -0.4223854 , -0.84290255, -0.54765795, -0.56584543,
        -0.59637028, -0.50015049, -0.38287653, -0.5144298 , -0.28043389,
         0.        , -0.85815848, -0.63923978, -0.38864151, -0.1497335 ,
        -0.21995801, -0.33395707, -0.51704977, -0.38952253, -0.46881454,
        -0.79903068, -0.18765242, -0.5711357 , -0.39757488, -0.40825222,
        -0.63144134, -0.50903213, -0.59354087, -0.04798096]])

In [91]:
#trainning model and predicting
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.3, random_state=5)
print ('Train set:', x_train.shape,  y_train.shape)
print ('Test set:', x_test.shape,  y_test.shape)

Train set: (252, 39) (252,)
Test set: (108, 39) (108,)

In [95]:
k = 4
neigh = KNeighborsClassifier(n_neighbors = k).fit(x_train,y_train)
neigh

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

In [96]:
#yhat = neigh.predict(x_test)  
#yhat[0:8]

In [97]:
#model accuracy score
score = neigh.score(x_test, y_test)
print("Model accuracy is {}".format(score.round(2)))

Model accuracy is 0.72

# Part D

In [104]:
data1 = pd.read_csv('PAML_COVID.csv')
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3135 entries, 0 to 3134
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      3135 non-null   object
 1   Time                      3135 non-null   object
 2   State/UnionTerritory      3135 non-null   object
 3   ConfirmedIndianNational   3135 non-null   object
 4   Gender                    3135 non-null   object
 5   ConfirmedForeignNational  3135 non-null   object
 6   Age                       3135 non-null   int64
 7   Serious symptoms          3135 non-null   object
 8   Less common symptoms      3135 non-null   object
 9   Most common symptoms      3135 non-null   object
 10  Severity                  3135 non-null   object
 11  Patient_Status            3135 non-null   object
dtypes: int64(1), object(11)
memory usage: 294.0+ KB

In [105]:
data1.drop(columns=["Date","Time"],inplace=True)

data1.columns

Index(['State/UnionTerritory', 'ConfirmedIndianNational', 'Gender ',
       'ConfirmedForeignNational', 'Age ', 'Serious symptoms',
       'Less common symptoms', 'Most common symptoms', 'Severity',
       'Patient_Status '],
      dtype='object')

In [117]:
data1.head(4) #Patient-Status

,State/UnionTerritory,ConfirmedIndianNational,Gender,ConfirmedForeignNational,Age,Serious symptoms,Less common symptoms,Most common symptoms,Severity,Patient_Status
0,Kerala,1,Male,0,100,difficulty breathing or shortness of breath,aches and pains,fever,Seviour,flu
1,Kerala,1,Male,0,63,chest pain or pressure,diarrhoea,fever,Seviour,flu
2,Kerala,2,Female,0,7,difficulty breathing or shortness of breath,aches and pains,tiredness,Moderate,flu
3,Kerala,3,Male,0,11,difficulty breathing or shortness of breath,loss of taste or smell,dry cough,Seviour,flu

In [107]:
#converting string into numberic data to perform ML

LE = LabelEncoder()
x[:,0] = LE.fit_transform(x[:,0])
x[:,2] = LE.fit_transform(x[:,2])
x[:,5] = LE.fit_transform(x[:,5])
x[:,6] = LE.fit_transform(x[:,6]) 
x[:,7] = LE.fit_transform(x[:,7])
x[:,8] = LE.fit_transform(x[:,8])
x[:,9] = LE.fit_transform(x[:,9])

In [108]:
x1 = pd.DataFrame(x)
x1

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,43.0,-0.323039,1.0,-0.309738,-0.446348,0.0,0.0,0.0,0.0,0.0,...,-0.455652,-0.778543,-0.187652,-0.570210,-0.397575,-0.408252,-0.592231,-0.509032,-0.598091,-0.047981
1,8.0,-0.323039,0.0,-0.309738,-0.446348,0.0,0.0,0.0,0.0,0.0,...,-0.468815,-0.792201,-0.187652,-0.571136,-0.400210,-0.408252,-0.623599,-0.509032,-0.598091,-0.047981
2,2.0,-0.323039,0.0,-0.309738,-0.446348,0.0,0.0,0.0,0.0,0.0,...,-0.468815,-0.799031,-0.187652,-0.571136,-0.400210,-0.408252,-0.639283,-0.509032,-0.598091,-0.047981
3,18.0,-0.323039,0.0,-0.309738,-0.446348,0.0,0.0,0.0,0.0,0.0,...,-0.468815,-0.792201,-0.187652,-0.571136,-0.394939,-0.408252,-0.635362,-0.509032,-0.598091,-0.047981
4,4.0,-0.323039,0.0,-0.309738,-0.446348,0.0,0.0,0.0,0.0,0.0,...,-0.468815,-0.785372,-0.187652,-0.571136,-0.397575,-0.408252,-0.639283,-0.509032,-0.598091,-0.047981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,293.0,3.897314,131.0,-0.309738,3.815006,134.0,5.0,67.0,18.0,0.0,...,0.478906,2.957096,2.335144,3.283816,2.269469,1.088306,1.948609,0.498985,1.777185,-0.047981
356,122.0,-0.323039,15.0,-0.309738,-0.397716,2.0,0.0,2.0,0.0,0.0,...,-0.416163,-0.758055,-0.187652,-0.511871,-0.379127,-0.408252,-0.533415,-0.509032,-0.479782,-0.047981
357,302.0,-0.323039,140.0,1.119824,2.805898,137.0,13.0,36.0,12.0,0.0,...,2.558626,3.121000,7.100425,3.100467,2.704313,0.956257,4.818816,0.795460,5.517561,-3.815104
358,290.0,-0.323039,135.0,0.881563,3.067294,138.0,5.0,24.0,12.0,0.0,...,-0.166070,0.901471,-0.187652,2.754142,4.116897,-0.276203,2.897503,-0.153261,2.182165,-0.047981
359,123.0,-0.323039,16.0,-0.309738,-0.434190,7.0,1.0,0.0,0.0,0.0,...,-0.363512,-0.758055,-0.187652,-0.507241,-0.376492,-0.364236,-0.545178,-0.509032,-0.479782,-0.047981

In [109]:
x1[1] = x1[1].replace('-',0)
x1[3] = x1[3].replace('-',0) #replacing - with 0

In [118]:
x = x1[[0,1,2,3,4,5,6,7,8]] .values  
x[0:8] #separating independent & dependent column

array([[43.        , -0.32303937,  1.        , -0.30973849, -0.446348  ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [ 8.        , -0.32303937,  0.        , -0.30973849, -0.446348  ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [ 2.        , -0.32303937,  0.        , -0.30973849, -0.446348  ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [18.        , -0.32303937,  0.        , -0.30973849, -0.446348  ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [ 4.        , -0.32303937,  0.        , -0.30973849, -0.446348  ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        , -0.32303937,  0.        , -0.30973849, -0.446348  ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [13.        , -0.32303937,  0.        , -0.30973849, -0.446348  ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [ 1.        , -0.32303937,  0.        , -0.30973849, -0.446348  ,
         0.        ,  0.        ,  0.        ,  0.        ]])

In [119]:
y = x1[9].values
y=y.astype('int') #converting object into int for calculation
y[0:8]

array([0, 0, 0, 0, 0, 0, 0, 0])

In [120]:
x = preprocessing.StandardScaler().fit(x).transform(x.astype(float))
x[0:8] #Standardization of data

array([[-0.95952826, -0.32303937, -0.83663217, -0.30973849, -0.446348  ,
        -0.72058321, -0.52770437, -0.55414026, -0.37162602],
       [-1.33525254, -0.32303937, -0.86083366, -0.30973849, -0.446348  ,
        -0.72058321, -0.52770437, -0.55414026, -0.37162602],
       [-1.39966242, -0.32303937, -0.86083366, -0.30973849, -0.446348  ,
        -0.72058321, -0.52770437, -0.55414026, -0.37162602],
       [-1.22790275, -0.32303937, -0.86083366, -0.30973849, -0.446348  ,
        -0.72058321, -0.52770437, -0.55414026, -0.37162602],
       [-1.37819246, -0.32303937, -0.86083366, -0.30973849, -0.446348  ,
        -0.72058321, -0.52770437, -0.55414026, -0.37162602],
       [-1.42113238, -0.32303937, -0.86083366, -0.30973849, -0.446348  ,
        -0.72058321, -0.52770437, -0.55414026, -0.37162602],
       [-1.28157764, -0.32303937, -0.86083366, -0.30973849, -0.446348  ,
        -0.72058321, -0.52770437, -0.55414026, -0.37162602],
       [-1.4103974 , -0.32303937, -0.86083366, -0.30973849, -0.446348  ,
        -0.72058321, -0.52770437, -0.55414026, -0.37162602]])

In [123]:
#splitting data into train & test data
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.3, random_state=5)
print ('Train set:', x_train.shape,  y_train.shape)
print ('Test set:', x_test.shape,  y_test.shape)

Train set: (252, 9) (252,)
Test set: (108, 9) (108,)

In [129]:
#trainning model and predicting
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [130]:
yhat = knn.predict(x_test)
yhat[0:5]

array([0, 0, 0, 0, 0])

In [131]:
 #accuracy score for test data & train data
print("Train set Accuracy: ", metrics.accuracy_score(y_train, knn.predict(x_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  1.0
Test set Accuracy:  1.0